.Display {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  background-color: #2196F3;
}
.App-header {
  background-color: #1e2e47;
  min-height: 15vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(185, 26, 114);
}
h3{
  margin-top: 20px;
}
.gameScore {
  background-color: #2196F3;
}
.label {
  font-size: 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  background-color: #2196F3;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}