.Display {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  background-color: #2196F3;
}
.App-header {
  background-color: #1e2e47;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(185, 26, 114);
}
#site_title {
  color: #1e2e47;
  background-image: linear-gradient(92deg, #1f4f9e 0%,#da89c5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 20s infinite linear;
}
h3{
  margin-top: 20px;
}
.gameScore {
  background-color: #2196F3;
}
.label {
  font-size: 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  background-color: #2196F3;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
 /* MEDIA QUERIES */
  /* Smallish devices 640px and below) */
  @media only screen and (max-width: 640px) {
    .grid-container {
      display: grid;
      grid-template-columns: 150px 150px 150px 150px;
      background-color: #2196F3;
      padding: 10px;
      justify-content: center;
    }   
    img {
       height: auto;
       max-width: 100%; /* make images adapt?? */
    }      
 } 

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .grid-container {
       width: 100%;
    }     
 } 

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
    .fam {
       border: 6px solid darkgreen;
    }
 } 